{% extends "layout.html" %} {% block page_content %}
<section class="showcase description">
  <header class="description">
    <h2 class="bigTitle">Public Engagement</h2>
  </header>
  <!-- 侧边栏开始 -->
  <main>
    <div class="container">
      <div class="row">
        <div class="menu-box sidebar col-md-3 col-1">
          <!-- 展示与隐藏侧边栏 开始-->
          <input type="checkbox" id="menu-btn" />
          <label for="menu-btn"
            ><i class="iconfont icon-yemianfanhui"></i
          ></label>
          <!-- 展示与隐藏侧边栏 结束-->
          <div class="menu">
            <!-- 侧边栏的标题 开始-->
            <div class="menu-title">
              <h1>Menu</h1>
            </div>
            <!-- 侧边栏的标题 结束-->

            <!-- 每一项导航 -->
            <div class="menu-item">
              <input type="checkbox" id="menu-item1" />
              <label for="menu-item1">
                <a href="#anchor1" class="scroll-link">Overview</a>
              </label>
              <div class="menu-content">
                <span>option1</span>
                <span>option2</span>
                <span>option3</span>
              </div>
            </div>

            <div class="menu-item">
              <input type="checkbox" id="menu-item2" />
              <label for="menu-item2">
                <a href="#anchor2" class="scroll-link">Timelog</a>
              </label>
              <div class="menu-content">
                <span>option1</span>
                <span>option2</span>
              </div>
            </div>

            <div class="menu-item">
              <input type="checkbox" id="menu-item3" />
              <label for="menu-item3">
                <span>navigation3</span>
              </label>
              <div class="menu-content">
                <span>option1</span>
                <span>option2</span>
                <span>option3</span>
              </div>
            </div>

            <div class="set-line"></div>

            <div class="menu-item">
              <label>
                <span>setting</span>
              </label>
            </div>
          </div>
        </div>
        <!-- 侧边栏结束 -->
        <div class="col-md-9">
          <section id="anchor1">anchor1</section>
          <section id="anchor2">anchor2</section>
          <section id="anchor3">anchor3</section>
          <section id="anchor4">anchor4</section>
          <section id="anchor5">anchor5</section>
          <section id="anchor6">anchor6</section>
          <section id="anchor7">anchor7</section>
          <section id="anchor8">anchor8</section>
          <section id="anchor9">anchor9</section>
          <section id="anchor10">anchor10</section>
          <section id="anchor11">anchor11</section>
          <ul class="accordion">
            <li>
              <input type="checkbox" name="item" id="item1" />
              <label for="item1">References</label>
              <ol>
                <li>
                  [1]. Lung Cancer Statistics | How Common is Lung Cancer?
                  (n.d.). Retrieved October 5, 2022, from
                  https://www.cancer.org/cancer/lung-cancer/about/key-statistics.html<br />
                  [2]. Poulet, G., Massias, J., & Taly, V. (2019). Liquid
                  Biopsy: General Concepts. Acta Cytologica, 63(6), 449–455.
                  https://doi.org/10.1159/000499337<br />
                  [3]. Strimbu, K., & Tavel, J. A. (2010, November). What are
                  biomarkers? Current Opinion in HIV and AIDS, 5(6), 463–466.
                  https://doi.org/10.1097/coh.0b013e32833ed177<br />
                  [4]. Kristensen, L. S., Andersen, M. S., Stagsted, L. V. W.,
                  Ebbesen, K. K., Hansen, T. B., & Kjems, J. (2019, August 8).
                  The biogenesis, biology and characterization of circular RNAs.
                  Nature Reviews Genetics, 20(11), 675–691.
                  https://doi.org/10.1038/s41576-019-0158-7<br />
                  [5]. Chen, L., & Shan, G. (2021, May). CircRNA in cancer:
                  Fundamental mechanism and clinical potential. Cancer Letters,
                  505, 49–57. https://doi.org/10.1016/j.canlet.2021.02.004<br />
                  [6]. Di, X., Jin, X., Li, R., Zhao, M., & Wang, K. (2019,
                  March). CircRNAs and lung cancer: Biomarkers and master
                  regulators. Life Sciences, 220, 177–185.
                  https://doi.org/10.1016/j.lfs.2019.01.055<br />
                  [7]. Wang, C., Tan, S., Li, J., Liu, W. R., Peng, Y., & Li, W.
                  (2020, November). CircRNAs in lung cancer - Biogenesis,
                  function and clinical implication. Cancer Letters, 492,
                  106–115. https://doi.org/10.1016/j.canlet.2020.08.013<br />
                  [8]. Wang, S., Zhang, K., Tan, S., Xin, J., Yuan, Q., Xu, H.,
                  Xu, X., Liang, Q., Christiani, D. C., Wang, M., Liu, L., & Du,
                  M. (2021, January 11). Circular RNAs in body fluids as cancer
                  biomarkers: the new frontier of liquid biopsies. Molecular
                  Cancer, 20(1). https://doi.org/10.1186/s12943-020-01298-z<br />
                  [9]. DNA Nanotechnology Tools: From Design to Applications.
                  (2022, April 22). Wyss Institute. Retrieved October 5, 2022,
                  from
                  https://wyss.harvard.edu/technology/dna-nanotechnology-tools-from-design-to-applications/<br />
                  [10]. Jiao, J., Xiang, Y., Duan, C., Liu, Y., Li, C., & Li, G.
                  (2020, August 24). Lighting Up CircRNA Using a Linear DNA
                  Nanostructure. Analytical Chemistry, 92(18), 12394–12399.
                  https://doi.org/10.1021/acs.analchem.0c02146<br />
                </li>
              </ol>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</section>

{% endblock %}
