{% extends "layout.html" %} {% block page_content %}
<style>
  header.description {
    background: url("https://static.igem.wiki/teams/4653/wiki/results/head-picture/head-picture/safety-1.jpeg")
      no-repeat bottom center/cover;
  }
</style>
<section class="showcase description">
  <header class="description">
    <h2 class="bigTitle">Safety</h2>
  </header>
  <!-- 侧边栏开始 -->
  <main>
    <div class="container">
      <div class="row">
        <div class="menu-box sidebar col-md-3 col-1">
          <!-- 展示与隐藏侧边栏 开始-->
          <input type="checkbox" id="menu-btn" />
          <label id="menu-btn-1" for="menu-btn"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
          </label>
          <!-- 展示与隐藏侧边栏 结束-->
          <div class="menu">
            <!-- 侧边栏的标题 开始-->
            <div class="menu-title">
              <h1>Menu</h1>
            </div>
            <!-- 侧边栏的标题 结束-->

            <!-- 每一项导航 -->
            <div class="menu-item">
              <input type="checkbox" id="menu-item1" />
              <label for="menu-item1">
                <a href="#anchor1" class="scroll-link">Overview</a>
              </label>
            </div>

            <div class="menu-item">
              <input type="checkbox" id="menu-item2" />
              <label for="menu-item2">
                <a href="#anchor2" class="scroll-link">Lab Safety</a>
              </label>
            </div>

            <div class="menu-item">
              <input type="checkbox" id="menu-item3" />
              <label for="menu-item3">
                <a href="#anchor3" class="scroll-link">Project Safety</a>
              </label>
            </div>

            <div class="menu-item">
              <input type="checkbox" id="menu-item4" />
              <label for="menu-item4">
                <a href="#anchor4" class="scroll-link">Product Safety</a>
              </label>
            </div>

            <div class="set-line"></div>
            <div class="menu-item">
              <label>
                <span><a href="#refer" class="scroll-link">References</a></span>
              </label>
            </div>
          </div>
        </div>
        <!-- 侧边栏结束 -->
        <div class="col-md-9">
          <section id="anchor1">
            <br />
            <h2>Overview</h2>
            <br />
            <p>
              To ensure that our project is safe and harmless to both humans and
              the environment, we have made significant efforts in three
              aspects: laboratory safety, project safety, and product safety.
              The following are the safety measures and precautions we have
              considered for this iGEM project.
            </p>
            <br />
          </section>
          <section id="anchor2">
            <br />
            <h2>Lab Safety</h2>
            <br />
            <h3>Lab configuration</h3>
            <br />
            <p>
              Our experiments are conducted in the iGEM laboratory at Shenzhen
              University. The laboratory is equipped with a laminar flow hood, a
              fume hood, a first aid kit, fire extinguishers, waste liquid
              containers, and other necessary safety equipment. Additionally,
              there are nearby shower facilities, eyewash stations, and
              firefighting facilities.
            </p>
            <br />
            <div class="text-center">
              <img
                src="https://static.igem.wiki/teams/4653/wiki/results/safety/miehuo.jpg"
                alt=""
                width="25%"
              />
              <br />
              <small><b>Figure 1. Our fire extinguishing equipment.</b></small>
            </div>
            <br />
            <br />
            <h3>Safety training required by school</h3>
            <p>
              As biology students, it is important for us to prioritize
              laboratory safety. In our freshman year, we are required to
              undergo laboratory safety training. This includes studying and
              memorizing the laboratory safety manual, as well as participating
              in a laboratory safety exam. To earn the corresponding credits, we
              need to achieve a score of 90 or above in the exam. These measures
              ensure that we have a solid understanding of laboratory safety
              protocols and are equipped with the necessary knowledge to conduct
              experiments safely.
            </p>
            <br />
            <br />
            <h3>Wet Lab Training</h3>
            <p>
              Before conducting iGEM experiments, we had the opportunity to
              visit the laboratory under the guidance of senior students. During
              the visit, we familiarized ourselves with the laboratory equipment
              and learned how to use them properly. Additionally, we had the
              privilege of watching videos recorded by previous iGEM
              participants, which provided us with valuable insights and
              practical knowledge related to the competition. These experiences
              helped us gain a better understanding of the laboratory
              environment and the specific requirements of iGEM projects. <br />
            </p>
            <br />
            <div class="text-center">
              <img
                src="https://static.igem.wiki/teams/4653/wiki/results/safety/video.png"
                alt=""
                width="50%"
              />
              <br />
              <small
                ><b
                  >Figure 2. Image from a previous iGEM laboratory tutorial
                  video.</b
                ></small
              >
            </div>
            <br />
            <br />
            <h3>Laboratory Specifications</h3>
            <p>
              Before entering the laboratory, it is mandatory for us to follow
              certain safety protocols. These include wearing laboratory coats,
              masks, and gloves. We are not permitted to wear open-toed shoes,
              and our hair must be tied up. Eating and drinking are strictly
              prohibited within the laboratory premises. These measures are in
              place to minimize potential contamination risks, ensure personal
              safety, and maintain a clean and controlled work environment.
            </p>
            <br />
            <div class="text-center">
              <img
                src="https://static.igem.wiki/teams/4653/wiki/results/safety/chaojintai.jpg"
                alt=""
                width="25%"
              />
              <br />
              <small
                ><b
                  >Figure 3. Our iGEM team member is conducting experiment.</b
                ></small
              >
            </div>
            <br />
          </section>
          <section id="anchor3">
            <br />
            <h2>Project Safety</h2>
            <br />
            <p>
              Our project includes two parts: RNAi biological pesticide and
              plant immune preparation. which will be packaged into our product
              PolycoBead, which will be finally applied to farmland after the
              production and optimization of the process. Farmland is an open
              environment, which means that our products will inevitably come
              into contact with the outside world. Therefore, we must ensure the
              safety of the product in the whole process from production to
              application.
            </p>
            <br />
            <h3>Organisms</h3>
            <br />
            <p>
              We selected two commonly used strains of <i>E. coli </i>BL21
              (DE3), and <i>E. coli</i> HT115 (DE3) as the vectors for protein
              and RNA expression in the laboratory. In product application, we
              used <i>Bacillus subtilis WB800</i>, which is used as commercial
              biological control agent that has been widely promoted. Also, it
              has been used by multiple iGEM teams, confirming its safety. In
              tomato infection, we selected a very common strain of Botrytis
              cinerea, which is frequently found on decaying food.
            </p>
            <br />
            <p>
              To ensure their safety, we performed the following two tasks,
              checking them in the iGEM white list and verifying if they are
              prohibited for use as infectious microorganisms in the
              <i
                >Catalogue of Human Pathogenic Microorganisms for Infectious
                Diseases Control</i
              >. The strains using in the laboratory, <i>E. coli </i>BL21 (DE3),
              <i>Bacillus subtilis</i> WB800, <i>E. coli</i> HT115 (DE3), and
              <i>Botrytis cinerea</i>, are listed on the iGEM white list. This
              helps maintain the focus on safe and responsible genetic
              engineering practices throughout the iGEM community.
            </p>
            <br />
            <p>
              To ensure their safety, we performed the following two tasks,
              checking them in the iGEM white list and verifying if they are
              prohibited for use as infectious microorganisms in the
              <i
                >Catalogue of Human Pathogenic Microorganisms for Infectious
                Diseases Control</i
              >. The strains using in the laboratory, <i>E. coli </i>BL21 (DE3),
              <i>Bacillus subtilis</i> WB800, <i>E. coli</i> HT115 (DE3), and
              <i>Botrytis cinerea</i>, are listed on the iGEM white list. This
              helps maintain the focus on safe and responsible genetic
              engineering practices throughout the iGEM community.
            </p>
            <br />
            <div class="text-center">
              <img
                src="https://static.igem.wiki/teams/4653/wiki/results/safety/strains-1.png"
                alt=""
                width="50%"
              />
            </div>
            <br />
            <div class="text-center">
              <img
                src="https://static.igem.wiki/teams/4653/wiki/results/safety/strains-2.jpg"
                alt=""
                width="50%"
              />
              <br />
              <small> <b>Figure 4. Our strains are not on the list.</b></small>
            </div>
            <br />
            <h3>RNAi therapy</h3>
            <br />
            <p>
              Based on RNAi technology, RNAi-mediated biopesticides can target
              target genes of pathogens and produce silencing effect. We used
              <i>E. coli</i> HT115(DE3) to produce our shRNA molecules and used
              them as our RNAi biopesticides strain in the laboratory and has
              been widely used in the industrial fermentation of biomolecules,
              so it is safe in the production process. Cell-penetrating peptides
              are biomolecules that are released into the environment and are
              able to degrade after a period of time without residue. For shRNA
              molecules, safety can be ensured from the following aspects:
            </p>
            <br />
            <ul>
              <li class="ps-4">
                <b>1. Specific targeting</b><br />In order to ensure the species
                specificity and biological safety of our shRNA, after selecting
                the target of the pathogen, The CDS sequence of this target in
                <i>B. cinerea</i> was input into the total nucleic acid database
                of the National Center for Biotechnology Information (NCBI)
                website for BLAST to query the similarity of neighboring species
                homology. At the same time, the target position of the designed
                siRNA sequence was guaranteed to be the non-conserved region of
                the sequence. Then, we entered the candidate siRNA fragments
                into the total mRNA database for BLAST, and the siRNAs with 80%
                match to genes in other common species (such as human, tomato,
                dog, rice, wheat, etc.) were excluded, so as to ensure the
                sequence specificity.
              </li>
              <br />
              <div class="text-center">
                <img
                  src="https://static.igem.wiki/teams/4653/wiki/results/safety/blast.png"
                  alt=""
                  width="50%"
                />
                <br />
                <small
                  ><b
                    >Figure 5. BLAST results of inputting the target gene's CDS
                    sequence into the nucleotide database.</b
                  ></small
                >
              </div>
              <br />
              <li class="ps-4">
                <b>2. Environmental friendliness </b><br />RNA molecules are
                easily degraded by nucleases distributed in the air. Even when
                coated with CPP, CPP-shrna will not always exist in plants or
                soil after playing its role, greatly reducing the possibility of
                targeting other species and organisms. Unlike chemical
                pesticides, which remain in the soil, RNAi biopesticides are
                environmentally friendly.
              </li>
              <br />
              <li class="ps-4">
                <b>3. Controllability</b><br />At present, RNAi is mainly used
                in crop protection through two ways: host induced gene silencing
                (HIGS) and spray induced gene silencing (SIGS). To adopt HIGS
                means to transform crops through transgenic means, however,
                people's acceptance of Genetically Modified products is still
                not high in China, so this method can not be well applied in
                real life. We soon noticed SIGS, which is an emerging, non
                transgenic RNAi strategy. Under the condition that pathogenic
                fungi can absorb RNAi molecules from outside, RNAi molecules can
                also play a good role in cross-kingdom silencing. Through SIGS,
                RNAi biopesticides can cause no permanent changes in plant gene
                expression and they are controllable.
              </li>
            </ul>
            <br />
            <h3>Engineered <i>B. subtilis</i></h3>
            <br />
            <ul>
              <li class="ps-4">
                <b>1. Selection of chasisg</b><br />Our project expect to be
                able to use a bacterium that can colonize the plant rhizosphere
                to continuously release immune factors to prompt the plant to
                mount an immune response. <i>B. subtilis</i> is one of the most
                widely accepted plant probiotics and is naturally existing in
                soil. It has been reported that <i>B. subtilis</i> have control
                effects on different fungal diseases in different plants, such
                as rice rhabdomyosis and wheat take-all in cereal crops, tomato
                gray mold and apple mildew in vegetable and fruit crops, and
                they have good control effects on a variety of crops and fungal
                diseases. The use of<i>B. subtilis</i> ensures that our chassis
                can function well in the soil without harming the balance of the
                soil microbial community and causing harm to the plants.
              </li>
              <br />
              <li class="ps-4">
                <b>2. Expression of BvEP </b><br />To trigger the immune
                response in plants, protein phosphomutase BvEP from
                <i>Bacillus velezensis</i> LJ02, which is homologous to
                <i>B. subtilis</i> was used as an immune-inducing factor. It has
                been shown to trigger ROS outbreak and the expression of related
                enzymes by inducing PTI and ETI immune pathways in tomato
                fruits. At the same time, it has been verified that the
                application of this element on tomato has no significant effect
                on the weight of tomato fruit and the content of various
                nutrients.
              </li>
              <br />
              <li class="ps-4">
                <b>3. Sucrose-suicide switch</b><br />To prevent the survival of
                our engineered bacteria from flooding the croplands, we designed
                a sucrose-induced toxin/antitoxin based system as a suicide
                switch, which includes the <i>mazE</i> and <i>mazF</i> genes.
                The <i>mazF</i> gene encodes the toxin protein MazF, which in
                its own presence causes cell death. In the presence of sucrose,
                the mazE gene encodes the antitoxin protein MazE, which binds to
                MazF, rendering it ineffective. When sucrose and engineered
                bacteria were mixed and sprayed into the field, sucrose was
                slowly lost after falling to the field, and the inhibitory
                effect of sucrose on MazF was gradually reduced. When sucrose
                was depleted, the engineered bacteria stopped expressing the
                MazE protein and encoded the toxin MazF, turning on the suicide
                mechanism.
              </li>
            </ul>
            <br />
            <div class="text-center">
              <img
                src="https://static.igem.wiki/teams/4653/wiki/safety/szu-safety-suicide-switch.png"
                alt=""
                width="80%"
              />
              <br />
              <small><b>Figure 6. Our suicide switch.</b></small>
            </div>
            <p>
              <br />
              To learn more, please click
              <a href="https://2023.igem.wiki/szu-china/design">Design</a>.
            </p>
            <br />
          </section>
          <section id="anchor4">
            <br />
            <h2>Product Safety</h2>
            <br />
            <h3>PolycoBead</h3>
            <br />
            <p>
              In order to guide agricultural related personnel to use our
              products and regulate the dosage of pesticides, we designed the
              product PolycoBead, which encapsules RNAi-based biopesticides and
              plant immune inducing perparation whicn forms a bead as the outer
              film to wrap our CPP-shRNAs preparation and the engineered
              chassis-bacteria
              <i>B. subtilis</i> together to form a bead. In addition to the
              main ingredients, we have also fully considered the safety of
              PolycoBead packaging materials and accessories in the design of
              their safety.
            </p>
            <br />
            <ul>
              <li class="ps-4">
                1. PolycoBead features an outer membrane composed of highly
                hydrolyzable water-soluble polyvinyl alcohol (PVA) film. PVA
                film offers excellent biocompatibility and biodegradability,
                being the only vinyl polymer that can be utilized as a carbon
                source by bacteria. It naturally decomposes through microbial
                and enzymatic action, degrading by 75% within 46 days,
                ultimately breaking down into CO2 and H2O. Extensive biological
                testing has confirmed its non-toxicity to living organisms. Due
                to its water solubility and biodegradable properties, the liquid
                formed when PVA film dissolves in water and infiltrates the soil
                can enhance soil aggregation, aeration, and water retention.
                This is advantageous for plant growth and survival.
              </li>
              <br />
              <li class="ps-4">
                2. We have utilized glycerol (also known as glycerin) to provide
                the liquid environment within the PolycoBead. Glycerol is a
                commonly used polar solvent for preserving biological samples.
                Although trace amounts of glycerol-water mixture may enter the
                soil, it is also biodegradable by soil microbial communities.
              </li>
              <br />
              <li class="ps-4">
                3. In order to minimize interference from the engineered
                bacteria on the CPP-shRNAs complex and ensure the viability of
                Bacillus subtilis, we employed the method of calcium alginate
                encapsulation. The use of calcium alginate encapsulation for
                immobilizing cells is a widely adopted technique known for its
                high encapsulation efficiency and minimal toxicity to
                microorganisms. Additionally, when the calcium
                alginate-engineered bacteria complex is introduced into the
                environment, the gradual loss of calcium ions results in the
                dissolution of the calcium alginate matrix, facilitating the
                release of the bacteria. Through experimental validation, we
                have demonstrated that a single calcium alginate bead can
                completely release its contents within 40 hours. The residual
                components are non-hazardous to soil and gradually degrade over
                time.
              </li>
            </ul>
            <br />
            <h3>Use of pesticides</h3>
            <p>
              We visited Guangdong Hongke Testing Technology Co., Ltd., in order
              to consult specifically about the safety issues related to
              pesticide testing. This visit to a professional testing
              organization was aimed at gaining a deeper understanding of the
              safety aspects concerning agricultural products.
            </p>
            <br />
            <div class="text-center">
              <img
                src="https://static.igem.wiki/teams/4653/wiki/results/safety/hongke.jpg"
                alt=""
                width="40%"
              />
              <br />
              <small
                ><b
                  >Figure 7. Our visit to Guangdong Hongke Testing Technology
                  Co., Ltd.</b
                ></small
              >
            </div>
            <br />
            <p>
              We visited the Pesticide Residue Testing Center at the
              Agricultural Bureau to gain insights into the safety issues
              related to pesticides. Director Yin emphasized the strict
              requirements and procedures for pesticide sales. Additionally, he
              highlighted the importance of developing a agricultural product
              testing plan to ensure the quality and safety of agricultural
              products. This plan involves determining the scope, frequency, and
              targets of the testing to ensure compliance with standards. These
              measures contribute to safeguarding the quality of agricultural
              products and protecting consumer health.
            </p>
            <br />
            <div class="text-center">
              <img
                src="https://static.igem.wiki/teams/4653/wiki/results/safety/nongcanjiance.jpg"
                alt=""
                width="40%"
              />
              <br />
              <small
                ><b
                  >Figure 8. Our visit to the Pesticide Residue Testing
                  Center.</b
                ></small
              >
            </div>
            <br />
            <p>
              Director Chen Wenhui from the Huizhou Boluo County Agricultural
              Science and Technology Demonstration Farm advised us to pay
              attention to the long-term effectiveness of our products in
              protecting plants and whether there are any safety concerns
              regarding environmental residues.
            </p>
            <br />
            <div class="text-center">
              <img
                src="https://static.igem.wiki/teams/4653/wiki/results/safety/kejishifan.jpg"
                alt=""
                width="40%"
              />
              <br />
              <small
                ><b
                  >Figure 9. Our visit to Huizhou Boluo County Agricultural
                  Science and Technology Demonstration Farm.</b
                ></small
              >
            </div>
            <br />
            <p>
              Mr. Li Yonghong, a teacher at the Shenzhen Agricultural Science
              and Technology Promotion Center, advised us to pay attention to
              the safety issues associated with further experimentation on our
              products. He emphasized the importance of complying with current
              laws and regulations in both the laboratory and when expanding
              experiments. Ensuring compliance with legal and regulatory
              standards is crucial for conducting safe and responsible research
              and development activities.
            </p>
            <br />
            <div class="text-center">
              <img
                src="https://static.igem.wiki/teams/4653/wiki/results/safety/cujinzhongxin.png"
                alt=""
                width="40%"
              />
              <br />
              <small
                ><b
                  >Figure 10. Our visit to Shenzhen Agricultural Science and
                  Technology Promotion Center.</b
                ></small
              >
            </div>
            <br />
            <p>
              To ensure that our products comply with the safety standards
              within the current legal framework, we conducted a detailed
              investigation into the requirements and regulations regarding
              pesticide use under the current laws. We compiled a document
              titled "Legal Analysis: Investigation into the Application of
              PolycoBead under Existing Laws" to summarize our findings. Through
              this investigation, we discovered that there are currently no
              specific standards or regulations in China regarding RNA
              pesticides. In order to better regulate this field and address the
              associated safety issues, we have drafted the "China RNA Pesticide
              Industry Standards Proposal" and submitted it to the relevant
              authorities.
              <br />
              <br />
              To learn more, please click
              <a href="https://2023.igem.wiki/szu-china/human-practices">
                integrated human practices</a
              >.
            </p>
            <br />
          </section>
          <br />
          <br />
          <ul id="refer" class="accordion">
            <li>
              <input type="checkbox" name="item" id="item1" />
              <label for="item1">References</label>
              <ol>
                <li>
                  [1] Hanna Engelberg-Kulka, Ronen Hazan, Shahar Amitai; mazEF:
                  a chromosomal toxin-antitoxin module that triggers programmed
                  cell death in bacteria. J Cell Sci 1 October 2005; 118 (19):
                  4327–4332.
                  <br />
                  [2] Zhuang Qiang, Ning Degang. mazEF system mediates
                  programmed cell death of bacteria [J]. Microbiology Bulletin,
                  2009 (6): 905-909
                  <br />
                  [3] Phan, T.T.P., Tran, L.T., Schumann, W. et al. Development
                  of Pgrac100-based expression vectors allowing high protein
                  production levels in Bacillus subtilis and relatively low
                  basal expression in Escherichia coli . Microb Cell Fact 14, 72
                  (2015). https://doi.org/10.1186/s12934-015-0255-z
                  <br />
                  [4] Pelicic V, Reyrat J M, Gicquel B. Expression of the
                  Bacillus subtilis sacB gene confers sucrose sensitivity on
                  mycobacteria[J]. Journal of bacteriology, 1996, 178(4):
                  1197-1199.
                  <br />
                  [5] Heng C, Chen Z, Du L, et al. Expression and secretion of
                  an acid-stable α-amylase gene in Bacillus subtilis by SacB
                  promoter and signal peptide[J]. Biotechnology letters, 2005,
                  27: 1731-1737.
                  <br />
                </li>
              </ol>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</section>

{% endblock %}
