{% extends "layout.html" %} {% block page_content %}
<style>
  header.team {
    background: url("https://static.igem.wiki/teams/4653/wiki/results/head-picture/head-picture/achievement-1.jpeg")
      no-repeat bottom center/cover;
  }
</style>
<section class="showcase">
  <header class="team">
    <h2 class="bigTitle">Team</h2>
  </header>
  <section class="container team">
    <section class="team-members">
      <h2 class="title">Team Members</h2>
      <div class="member">
        <!-- 第1位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/ztk.png"
            alt="Tangkun Zhu photo"
          />
          <div class="content1">
            <h3>Tangkun Zhu</h3>
            <p>
              Tangkun Zhu is major in Pharmaceutical Science, and knows
              something in Biology. An INTJ who is good at Wet Lab and
              disguising himself.
            </p>
          </div>
          <div class="content2">
            <p>Team Leader</p>
            <p>Wet lab</p>
          </div>
        </div>
        <!-- 第2位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/lxx.png"
            alt="Xinxu Long photo"
          />
          <div class="content1">
            <h3>Xinxu Long</h3>
            <p>
              Xinxu Long is a junior student majoring in biotechnology. In the
              team, she is mainly responsible for the RNAi experiment and Human
              Practices.
            </p>
          </div>
          <div class="content2">
            <p>Team Leader</p>
            <p>Wet lab</p>
          </div>
        </div>
        <!-- 第3位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/cry.png"
            alt="Ruoyu Chen photo"
          />
          <div class="content1">
            <h3>Ruoyu Chen</h3>
            <p>
              A senior majoring in biotechnology, a perfectionist in
              experiments. Always be hopeful, and always believe in miracles.
            </p>
          </div>
          <div class="content2">
            <p>Project<br />Manager</p>
            <p>Team Leader</p>
          </div>
        </div>
        <!-- 第4位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/fxc.png"
            alt="Xiaocheng Feng photo"
          />
          <div class="content1">
            <h3>Xiaocheng Feng</h3>
            <p>
              A student majors in biotechnology. She enjoys sports, food, and
              trying new things.
            </p>
          </div>
          <div class="content2">
            <p>Experimental Design Manager</p>
            <p>Wet lab</p>
          </div>
        </div>
        <!-- 第5位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/cyt.png"
            alt="Yutong Chen photo"
          />
          <div class="content1">
            <h3>Yutong Chen</h3>
            <p>
              Yutong Chen is a dedicated student who has great passion for
              experiments,hoping make a more beautiful world through our
              project.
            </p>
          </div>
          <div class="content2">
            <p>Wet lab</p>
          </div>
        </div>
        <!-- 第6位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/whl.png"
            alt="Honglin Wei photo"
          />
          <div class="content1">
            <h3>Honglin Wei</h3>
            <p>
              Mastering the skill of editing a wiki within two months has taught
              me that nothing is impossible.
            </p>
          </div>
          <div class="content2">
            <p>
              Web <br />
              Developer
            </p>
            <p>Dry lab</p>
          </div>
        </div>
        <!-- 第7位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/hj.png"
            alt="Jun huang photo"
          />
          <div class="content1">
            <h3>Jun huang</h3>
            <p>
              I am an undergraduate majoring in mathematics and applied
              mathematics. I am mainly responsible for modeling
            </p>
          </div>
          <div class="content2">
            <p>Modeling Manager</p>
            <p>Data Analysis Manager</p>
            <p>Dry lab</p>
          </div>
        </div>
        <!-- 第8位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/yy.png"
            alt="Yang Yang photo"
          />
          <div class="content1">
            <h3>Yang Yang</h3>
            <p>There is no definition of me.</p>
          </div>
          <div class="content2">
            <p>Communications Manager</p>
            <p>Human Practices</p>
            <p>Wet lab</p>
          </div>
        </div>
        <!-- 第9位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/czx.png"
            alt="Zuxin Chen photo"
          />
          <div class="content1">
            <h3>Zuxin Chen</h3>
            <p>
              A high-performing individual with strong execution skills and a
              relentless pursuit of self-improvement.
            </p>
          </div>
          <div class="content2">
            <p>Public Engagement Manager</p>
            <p>Human Practices</p>
          </div>
        </div>
        <!-- 第10位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/hxy.png"
            alt="Xinyi Hao photo"
          />
          <div class="content1">
            <h3>Xinyi Hao</h3>
            <p>
              Hi this is Humanity Practitioner——Help build bridges. Power of
              unity.
            </p>
          </div>
          <div class="content2">
            <p>Public Engagement Manager</p>
            <p>Human Practices</p>
          </div>
        </div>
        <!-- 第11位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/geh.png"
            alt="Erhuan Guan photo"
          />
          <div class="content1">
            <h3>Erhuan Guan</h3>
            <p>Within a year, I painted all the angles of tomatoes.</p>
          </div>
          <div class="content2">
            <p>
              Graphic <br />
              Design
            </p>
          </div>
        </div>
        <!-- 第12位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/hjy.png"
            alt="Jiayi Huang photo"
          />
          <div class="content1">
            <h3>Jiayi Huang</h3>
            <p>The best is yet to come, just keep asking yourself WHY NOT.</p>
          </div>
          <div class="content2">
            <p>
              Graphic <br />
              Design
            </p>
          </div>
        </div>
        <!-- 第13位成员 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/szh.png"
            alt="Zhonghao Sun photo"
          />
          <div class="content1">
            <h3>Zhonghao Sun</h3>
            <p>
              A senior majoring in biomedical engineering. Always keep going and
              never give up.
            </p>
          </div>
          <div class="content2">
            <p>Hardware Manager</p>
            <p>Dry lab</p>
          </div>
        </div>
      </div>
    </section>
    <section class="instructors">
      <h2 class="title">PI & Instructors</h2>
      <div class="instructor">
        <!-- 第1位指导老师 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/mbx.png"
            alt="Beixin Mo photo"
          />
          <div class="content1">
            <h3>Beixin Mo</h3>
            <p>
              Professor Mo is the key person of our project and has given us a
              lot of professional advice and supports. She is gorgeous and
              intelligent, who can fundamentally pinpoint the existing problems,
              and propose the corresponding solutions.
            </p>
          </div>
          <div class="content2">
            <p>Principal Investagor</p>
          </div>
        </div>
        <!-- 第2位指导老师 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/cwz.png"
            alt="Weizhao Chen photo"
          />
          <div class="content1">
            <h3>Weizhao Chen</h3>
            <p>
              Mr. Chen is our mentor, leader of the brainstorm and sponsor. He
              organizes students to brainstorm and spare no effort to support
              the team. He is the soul figure of SZU-China.
            </p>
          </div>
          <div class="content2">
            <p>Principal Investagor</p>
          </div>
        </div>
        <!-- 第3位指导老师 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/lxd.png"
            alt="Xuedong Liu photo"
          />
          <div class="content1">
            <h3>Xuedong Liu</h3>
            <p>
              Dr. Liu is professional in RNA experiments, giving us many helpful
              suggestions. He is a kind and patient person, always able to get
              along with us humorously. Thus, we all like him very much.
            </p>
          </div>
          <div class="content2">
            <p>Principal Investagor</p>
          </div>
        </div>
      </div>
    </section>
    <section class="advisors">
      <h2 class="title">Advisors</h2>
      <div class="advisor">
        <!-- 第1位顾问 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/lrs.png"
            alt="Rongsong Lin photo"
          />
          <div class="content1">
            <h3>Rongsong Ling</h3>
            <p>
              Knowledge gained from books is shallow; true understanding
              requires personal experience.
            </p>
          </div>
          <div class="content2">
            <p>Advisor</p>
          </div>
        </div>
        <!-- 第2位顾问 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/hy.png"
            alt="Yan Huang photo"
          />
          <div class="content1">
            <h3>Yan Huang</h3>
            <p>
              Huang Yan is a senior majoring in biotechnology at Shenzhen
              University. Biology is his interest and he always has unique
              opinions about it.
            </p>
          </div>
          <div class="content2">
            <p>Advisor</p>
          </div>
        </div>
        <!-- 第3位顾问 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/fbr.png"
            alt="Bingru Feng photo"
          />
          <div class="content1">
            <h3>Bingru Feng</h3>
            <p>
              A graduate researcher who is still diving into synthetic biology
              in different therapies; an idea creator & synbioer all the way,
              caring about the mental health of team members.
            </p>
          </div>
          <div class="content2">
            <p>Advisor</p>
          </div>
        </div>
        <!-- 第4位顾问 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/zxy.png"
            alt="Xinying Zhang photo"
          />
          <div class="content1">
            <h3>Xinying Zhang</h3>
            <p>
              Biotechnology student. Like life science, space odyssey, kitty and
              sleep. Always optimistic, thinking and passionate. Millerz from
              CHINA.
            </p>
          </div>
          <div class="content2">
            <p>Advisor</p>
          </div>
        </div>
        <!-- 第5位顾问 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/cryy.png"
            alt="Ruiyue Chen photo"
          />
          <div class="content1">
            <h3>Ruiyue Chen</h3>
            <p>
              Ruiyue is shenzhen University advanced Research Institute
              students, is a look very reliable, in fact, very reliable boy.
            </p>
          </div>
          <div class="content2">
            <p>Advisor</p>
          </div>
        </div>
        <!-- 第6位顾问 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/hjq.png"
            alt="Jingqi Huang photo"
          />
          <div class="content1">
            <h3>Jingqi Huang</h3>
            <p>Sunshine Boy</p>
          </div>
          <div class="content2">
            <p>Advisor</p>
          </div>
        </div>
        <!-- 第7位顾问 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/ydw.png"
            alt="Xinying Zhang photo"
          />
          <div class="content1">
            <h3>Dawei You</h3>
            <p>
              Dawei You is a PhD student of Peking University, majoring in
              Environmental Engineering. He is looking forward to being part of
              the world-changing journey of synthetic biology.
            </p>
          </div>
          <div class="content2">
            <p>Advisor</p>
          </div>
        </div>
        <!-- 第8位顾问 -->
        <div class="cardRole">
          <div class="rolebg"></div>
          <img
            src="https://static.igem.wiki/teams/4653/wiki/members/xyx.png"
            alt="Yuxiang Xiong photo"
          />
          <div class="content1">
            <h3>Yuxiang Xiong</h3>
            <p>
              Yuxiang is a student majoring in pharmacy in Shenzhen University.
              He is a boy who loves life.
            </p>
          </div>
          <div class="content2">
            <p>Advisor</p>
          </div>
        </div>
      </div>
    </section>
  </section>
  <div style="padding: 25px"></div>
</section>

{% endblock %}
